#container{
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(4, 100px);
    
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-class {
    transition: background-color 0.3s ease;
}